extends main
block title
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1000 85', preserveaspectratio='none').blog_triangle
        polygon(points='0,0   0,86   500.8,86   500.8,75.5')#blog_triangle_left
        polygon(points='1000,0   1000,86   500,86   500,75.5')#blog_triangle_right
block content
  section.blog-container
    aside.blog-menu
      ul.blog-menu-list
        li.blog-menu-elem(data-id='0', id='item0')
          .blog-menu-elem-inner Самое важное в SASS
        li.blog-menu-elem(data-id='1', id='item1')
          .blog-menu-elem-inner Приемы в верстке, без которых не обходится ни один сайт
        li.blog-menu-elem(data-id='2', id='item2')
          .blog-menu-elem-inner Самый необходимый набор Gulp плагинов
        li.blog-menu-elem(data-id='3', id='item3')
          .blog-menu-elem-inner Pam pam pam
    section.blog-content
      .blog-article
        h2.blog-article-header САМОЕ ВАЖНОЕ В SASS
        span.blog-article-date 22.06.2016
        .blog-article-content.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений
            прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в
            формировании новых предложений.
            Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие
            в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров
            обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
            Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
            С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров,
            соответствует насущным потребностям.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений
                        прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в
                        формировании новых предложений.
                        Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие
                        в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров
                        обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                        Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                        С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров,
                        соответствует насущным потребностям.
      .blog-article
        h2.blog-article-header Приёмы в вёрстке, без которых не обходится ни один сайт
        span.blog-article-date 19.06.2016
        .blog-article-content.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по
            разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной
            деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной
            деятельности играет важную роль в формировании систем массового участия.
            Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов)
            участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место
            обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых
            участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей
            активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения
            кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным
            потребностям.
      .blog-article
        h2.blog-article-header Приёмы в вёрстке, без которых не обходится ни один сайт
        span.blog-article-date 19.06.2016
        .blog-article-content.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по
                       разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной
                       деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной
                       деятельности играет важную роль в формировании систем массового участия.
                       Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов)
                       участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место
                       обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых
                       участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей
                       активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения
                       кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным
                       потребностям.й
      .blog-article
        h2.blog-article-header Приёмы в вёрстке, без которых не обходится ни один сайт
        span.blog-article-date 19.06.2016
        .blog-article-content.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по
            разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной
            деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной
            деятельности