  .header{
    position: relative;
  }
  .main-icons{
    width: 145px;
    padding-top: rem(34px);
    margin-left: rem(30px);
    &__elem {
      width: 30%;
      display: inline-block;
    }
    @include iphone {
      width: 130px;
      margin-left: 10px;
    }
  }
  #vk-icon,
  #github-icon,
  #in-icon{
    width: 30px;
    height: 40px;
    fill: rgba(#fff, .5);
    &:hover{
      fill: rgba(#fff, 1);
      cursor: pointer;
    }
  }
  #nav-icon {
  z-index: 800;
  margin-top: rem(30px);
  width: 40px;
  height: 35px;
  right: 30px;
  top: 0px;
  position: absolute;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
    @include iphone {
      width: 27px;
      right: 10px;
    }
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  @include iphone {
    height: 3px;
  }
}
#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 12px;
  @include iphone {
    top: 9px;
  }
}
#nav-icon span:nth-child(4) {
  top: 24px;
  @include iphone {
    top: 18px;
  }
}
#nav-icon.open span:nth-child(1) {
  top: 10px;
  width: 0;
  left: 50%;
}
#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
  top: 20px;
  width: 0;
  left: 50%;
}
.overlay {
  position: fixed;
  background: $green;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 80;
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    .overlay-menu__item {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Roboto', serif;
    font-weight: 400;
    text-align: center;
    @include iphone {
      font-size: 34px;
    }
  }
  .overlay-menu__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    .overlay-menu__item {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      @include iphone {
        height: 24%;
      }
      .overlay-menu__link {
        text-transform: uppercase;
        display: block;
        position: relative;
        color: #fff;
        text-decoration: none;
        overflow: hidden;
        &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          transform: translateX(-50%);
          height: 3px;
          background: #fff;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.vk-icon {
  background: url("../img/icons/vk_h.svg") center no-repeat;
  display: inline-block;
  background-size: 30px;
  width: 33px;
  height: 20px;
  opacity: .6;
}
.in-icon {
  background: url('../img/icons/in_h.svg') center no-repeat;
  display: inline-block;
  background-size: 25px;
  width: 29px;
  height: 23px;
  opacity: .6;
}
.git-icon {
  background: url('../img/icons/git_h.svg') center no-repeat;
  display: inline-block;
  background-size: 25px;
  width: 25px;
  height: 23px;
  opacity: .6;
  margin-bottom: -1px;
}
.vk-icon,
.in-icon,
.git-icon {
  &:hover {
    opacity: 1;
  }
}
